# mac
.DS_Store

# python & Jupyter
*.pyc
*-checkpoint.ipynb
.ipynb_checkpoints/*
/.ipynb_checkpoints
/.ipynb_checkpoints/*.py
*/__pycache__/*
__pycache__/*

# airtable backups
airtable_backups/*.pkl

# secrets
secret.py
.env

# virtualenv
venv

# database
*.sqlite3

# Pyenv
.python-version

# editor
.vscode
.idea
.editorconfig
