# mac
.DS_Store

# python & Jupyter
*.pyc
*-checkpoint.ipynb
.ipynb_checkpoints/*
/.ipynb_checkpoints
/.ipynb_checkpoints/*.py
*/__pycache__/*
__pycache__/*

# secrets
secret.py
.env

# virtualenv
venv

# database
db.sqlite3

# Pyenv
.python-version

# editor
.vscode
.idea
.editorconfig

# static files
static

# notes, etc
ARCHIVE_DB/*

# logins
logins

