airtable==0.4.8
black==22.3.0
isort==5.10.1
django==4.1.4
django-braces==1.15.0
django-cryptography==1.0
django-debug-toolbar==3.2.4
django-extensions==3.1.5
django-model-utils==4.2.0
djangorestframework==3.13.1
django-cors-headers==3.12.0
networkx==2.5.1
pandas==1.4.2
pycountry==22.1.10
python-dotenv==0.19.2
qwikidata==0.4.0
requests==2.27.1
django-crispy-forms==1.13.0
unidecode
django-countries==7.2.1
gunicorn==20.1.0
django-admin-list-filter-dropdown==1.0.3
python-Levenshtein==0.12.2
graphene==2.1.9
graphene-django==2.15.0
django-filter==21.1
jsonfield==3.1.0
django-json-widget==1.1.1
np==1.0.2
Markdown==3.3.7
markdown-link-attr-modifier==0.2.0
django-cities-light==3.9.2
symspellpy==6.7.7