{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
{{ block.super }}
<li>
    <a href="{% url 'admin:refresh_harvest_data' original.pk %}" class="refreshlink">
        {% trans "Refresh Harvest Data" %}
    </a>
</li>
{% endblock %}

{% block after_field_sets %}
{{ block.super }}
{% if original.feature_refresh_date %}
    <fieldset class="module aligned">
        <h2>Harvest Data</h2>
        <div class="form-row">
            <div>
                <label>Last Refresh Date:</label>
                <div class="readonly">{{ original.feature_refresh_date }}</div>
            </div>
        </div>
        <div class="form-row">
            <div>
                <label>Feature Data (YAML):</label>
                <div class="readonly">
                    <pre>{{ original.feature_yaml }}</pre>
                </div>
            </div>
        </div>
    </fieldset>
{% endif %}
{% endblock %}