{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
  {{ block.super }}
  {% if is_change_view %}
    <li>
      <form method="post" action="{% url 'admin:brand_refresh_location' original.pk %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="button">{% trans 'Refresh Location Info' %}</button>
      </form>
    </li>
    <li>
      <form method="post" action="{% url 'admin:brand_refresh_features' original.pk %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="button">{% trans 'Refresh Feature Info' %}</button>
      </form>
    </li>
  {% endif %}
{% endblock %}