{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <h2>Help Us Keep Our {{form.name.value}} Data Up to Date</h2>
    <p>
        Thank you for contributing to our mission of promoting more sustainable banking practices! If you have information about a new financial institution that you think we should know, or about one we already display, this is the place to tell us! Your input will help inform others about the availability of green banking options, and ultimately lead to a more environmentally-conscious banking industry.
    </p>
    <p>
        Don’t worry if you don’t have all the information below - just do your best, and we’ll take care of the rest!
    </p>
    <p>Let's Begin...</p>
    <br />
    <form method="post">
        {% csrf_token %}
        <div class="details">
            <div class="mb-3 row">
                <div class="col">
                    <label for="{{form.name.auto_id}}" class="form-label">Name of Financial Institution</label>
                    <input type="text" class="form-control" id="{{form.name.auto_id}}" name="{{form.name.name}}" aria-describedby="{{form.name.name}}Help" {% if form.name.initial %}value="{{form.name.initial}}"{% endif %}>
                    <div id="{{form.name.name}}Help" class="form-text">{{form.name.help_text}}</div>
                </div>
                <div class="col">
                    <label for="{{form.aliases.auto_id}}" class="form-label">{{ form.aliases.label }}</label>
                    <input type="text" class="form-control" id="{{form.name.auto_id}}" name="{{form.aliases.name}}" aria-describedby="{{form.aliases.name}}Help" {% if form.aliases.initial %}value="{{form.aliases.initial}}"{% endif %}>
                    <div id="{{form.aliases.name}}Help" class="form-text">Other names one might use to search for this financial institution, separated by commas</div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col">
                    <label for="{{form.website.auto_id}}" class="form-label">Website</label>
                    <input type="text" class="form-control" id="{{form.website.auto_id}}" name="{{form.website.name}}" aria-describedby="{{form.website.name}}Help" {% if form.website.initial %}value="{{form.website.initial}}"{% endif %}>
                    <div id="{{form.website.name}}Help" class="form-text">{{form.website.help_text}}</div>
                </div>
                <div class="col">
                    <label for="{{form.countries.auto_id}}" class="form-label">Countries</label>
                    {{form.countries}}
                    <div id="{{form.countries.name}}Help" class="form-text">Where this financial institution offers retail services</div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col">
                    <label for="{{form.regions.auto_id}}" class="form-label">{{ form.regions.label }}</label>
                    {{form.regions}}
                    <div id="{{form.regions.name}}Help" class="form-text">Where this financial institution has physical branch locations</div>
                </div>
                <div class="col">
                    <label for="{{form.subregions.auto_id}}" class="form-label">{{ form.subregions.label }}</label>
                    {{form.subregions}}
                    <div id="{{form.subregions.name}}Help" class="form-text">Where this financial institution has physical locations or ATMs</div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col">
                    <label for="{{form.additional_info.auto_id}}" class="form-label">{{ form.additional_info.label }}</label>
                    {{form.additional_info}}
                    <div id="{{form.additional_info.name}}Help" class="form-text">{{form.additional_info.help_text}}</div>
                </div>
                <div class="col">
                    <label for="{{form.email.auto_id}}" class="form-label">{{ form.email.label }}</label>
                    <input type="email" class="form-control" id="{{form.email.auto_id}}" name="{{form.email.name}}" aria-describedby="{{form.email.name}}Help" {% if form.email.initial %}value="{{form.email.initial}}"{% endif %}>
                    <div id="{{form.email.name}}Help" class="form-text">{{form.email.help_text}}</div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col">
                    <label for="{{form.consent.auto_id}}" class="form-label">{{ form.consent.label }}</label>
                    {{form.consent}}
                    <div id="{{form.consent.name}}Help" class="form-text">{{form.consent.help_text}}</div>
                </div>
            </div>
        </div>
        <h2>Service Features</h2>
        <p>
            If you wish to help further, or if you are from a financial institution wishing to update your own record, you can enter as many service features as you wish below.
        </p>
        {{ features.management_form }}
        <div class="features-box">
            {% for feature in features %}
                <div class="mb-3 border border-1 p-3 rounded-3 features-item">
                    <div class="mb-3">
                        <label for="{{feature.feature.auto_id}}" class="form-label">Service Feature</label>
                        {{ feature.feature }}
                        <div id="{{feature.feature.name}}Help" class="form-text">{{feature.feature.help_text}}</div>
                    </div>
                    <div class="mb-3">
                        <label for="{{feature.details.auto_id}}" class="form-label">Details (if any)</label>
                        {{ feature.details }}
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <input type="submit" value="Submit" class="btn save-btn form-control">
    </form>
</div>
{% endblock content %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    {{form.media}}

    <script>
        $(document).ready(function() {
            $('.form-select').select2();
        });
    </script>
{% endblock javascripts %}