<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <p>Hello {{ user.first_name }},</p>

    <p>You are receiving this email because a password reset request was made for your account.</p>

    <p>To reset your password, please click the link below:</p>

    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset here</a>

    <p> Your username is : {{ user.get_username }} </p>
    <p>If you did not request a password reset, you can ignore this email. Your password will remain unchanged.</p>

    <p>Thank you,</p>
    <p>Bank.Green Team</p>
</body>
</html>
